<%= form_with(model: clockevent, local: true) do |form| %>
  <% if clockevent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(clockevent.errors.count, "error") %> prohibited this clockevent from being saved:</h2>

      <ul>
      <% clockevent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :event %>
    <%= form.select :event, ['ClockIn', 'ClockOut']%>
  </div>

  <div class="field">
    <%= form.label :detail %>
    <%= form.text_area :detail %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
