<p>
  <strong>Event:</strong>
  <%= @clockevent.event %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @clockevent.detail %>
</p>

<p>
  <strong>User:</strong>
  <%= @clockevent.user.username %>
</p>

<%= link_to 'Edit', edit_clockevent_path(@clockevent) %> |
<%= link_to 'Back', clockevents_path %>
